@model List<Question>
    

@{
    ViewBag.Title = "Lister";
}

<h2>Liste des questions</h2>


<table class="table">
    <tr>
        <th>
            Numero Question
        </th>
        <th>
            Enonce
        </th>
        <th>
            Flag
        </th>
        <th>
            Difficulte
        </th>
       
        <th></th>
    </tr>

    @foreach (IMDB.Models.Actor actor in ViewBag.Actors)
    {
        <a href="@Url.Action("Details", "Actors", new { id = actor.Id })"
           style="text-decoration:none"
           data-toggle="tooltip"
           data-placement="right"
           title="Voir les détails de @actor.Name">
            <h4><img src="@Url.Content(actor.GetAvatarURL())" class="SmallAvatar" /> @actor.Name</h4>
        </a>
    }
    @*@foreach ()
            {
        <tr>
            @foreach (DataColumn col in Model.Columns)
            {
                <td>@row[col.ColumnName]</td>
                   
            }
            <td>
                @Html.ActionLink("Edit", "Edit") |
                @Html.ActionLink("Details", "Details") |
                @Html.ActionLink("Delete", "Delete")
            </td>
        </tr>
       
    }*@




</table>
